<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">

    <ul class="list-unstyled ps-0">

        <li class="mb-1">
            <b>Trending</b>


        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#best-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Best Sellers
        </font></font></button>
            <div class="collapse" id="best-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#new-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          New Releases
        </font></font></button>
            <div class="collapse" id="new-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#featured-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Featured
        </font></font></button>
            <div class="collapse" id="featured-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <b>Shop By  <br> Department</b>


        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#electronics-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Electronics
        </font></font></button>
            <div class="collapse" id="electronics-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Mobiles</a></li>
                    <li><a href="#" class="link-dark rounded">Tablets</a></li>
                    <li><a href="#" class="link-dark rounded">Laptops & PC</a></li>
                    <li><a href="#" class="link-dark rounded">Gaming</a></li>
                    <li><a href="#" class="link-dark rounded">Acessories</a></li>

                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#clothings-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Clothing
        </font></font></button>
            <div class="collapse" id="clothings-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Top-wear</a></li>
                    <li><a href="#" class="link-dark rounded">Bottom-Wear</a></li>
                    <li><a href="#" class="link-dark rounded">Jackets</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#footwear-collapse" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
         Footwear
        </font></font></button>
            <div class="collapse" id="footwear-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded"> Men Casuals</a></li>
                    <li><a href="#" class="link-dark rounded">Men Sports</a></li>
                    <li><a href="#" class="link-dark rounded">Women & kids <br> Casuals</a></li>
                    <li><a href="#" class="link-dark rounded"> Women & kids <br> Sports</a></li>
                </ul>
            </div>
        </li>

        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
            <div class="collapse" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">My Orders</a></li>
                    <li>
                        <a href="#" class="link-dark rounded">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Profile</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-dark rounded">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Change Password</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-dark rounded">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Settings</font>
                            </font>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-dark rounded">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sign out</font>
                            </font>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>