@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
a,
p {
    font-family: 'Raleway', sans-serif;
}

.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    ;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}